{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success">
                <h4 class="alert-heading">Password changed successfully!</h4>
                <p>Your password has been updated.</p>
                <hr>
                <a href="{% url 'teacher_dashboard' %}" class="btn btn-success">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
